{% extends "base.html" %}

{% block tittle %}
Register Page 
{% endblock tittle %}
{% block content %}


<div class="continer my-5">
    <div class="col-12">
        <h4 class="register-text">New User Register Now</h4>
        <hr style="border-color:#b8bfc2">
        {% include "navbor/message.html" %}

    <section class="py-4 my-5">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <form method="post" action="">
                        {% csrf_token %}
                        <div class="mb-4">
                            <label for="" class="form-label">User Name</label>
                            {{forms.username}}
                           
                        </div>
                        <div class="mb-4">
                            <label for="" class="form-label">User Email</label>
                            {{forms.email}}
                            
                        </div>
                        <div class="mb-4">
                            <label for="" class="form-label">Password</label>
                            {{forms.password1}}
                            
                        </div>
                        <div class="mb-4">
                            <label for="" class="form-label"> Confirm Password</label>

                            {{forms.password2}}
                           
                        </div>
                        <button type="submit" class="btn btn-primary">Register</button>
                    </form>
                    <p class="my-2">Already user ? <a href="{% url "login" %}">Login Now</a></p>
                </div>
                <div class="col-6">
                    
                        <div class="mb-4">
                           
                            {% if forms.errors.username %}
                            <label class="text-danger">{{forms.errors.username}}</label>
                            {% endif %}
                        </div>
                        <div class="mb-4">
                            
                            {% if forms.errors.email %}
                            <label class="text-danger">{{forms.errors.email}}</label>
                            {% endif %}
                        </div>
                        <div class="mb-4">
                            
                            {% if forms.errors.password1 %}
                            <label class="text-danger"{{forms.errors.password1}}></label>
                            {% endif %}
                        </div>
                        <div class="mb-4">
                           
                            {% if forms.errors.password2 %}
                            <label class="text-danger">{{forms.errors.password2}}</label>
                            {% endif %}
                        </div>
                        
                </div>
            </div>
        </div>
    </section>
    </div>
 </div>
 <p style="padding:100px;"></p>



{% endblock content %}